<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dinghu">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
     
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:name="com.dinghu.SpringApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/app_theme">
        <!--高德地图地位需要的key-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="21a76566f433ab41e3837e93926f4f57" />

        <activity
            android:name="com.dinghu.ui.activity.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/activity_style">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dinghu.ui.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activity_style" />
        <activity
            android:name="com.dinghu.ui.activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activity_style_main" />
        <activity
            android:name="com.dinghu.ui.activity.ModifyPwActivity"
            android:screenOrientation="portrait"
            android:theme="@style/swipe_activity_style" />
        <activity
            android:name="com.dinghu.ui.activity.MyAccountBookActivity"
            android:screenOrientation="portrait"
            android:theme="@style/swipe_activity_style" />
        <activity
            android:name="com.dinghu.ui.activity.WorkListDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/swipe_activity_style" />
        <activity
            android:name="com.dinghu.ui.activity.HistoryWorkListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/swipe_activity_style" />

        <service
            android:name=".MessageService"
            android:label="消息推送"
            android:process="com.dinghu.message" />

        <receiver
            android:name=".MessageReceive"
            android:label="启动消息推送"
            android:process=":remote">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".MessageHandleReceive"
            android:label="启动消息推送">
            <intent-filter>
                <action android:name="com.dinghu.MessageHandleReceive.ACTION" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
